div.alert_inner
    
= simple_form_for(User.new, url: new_user_session_path, format: :json, remote: true, html: {id: 'sign_in_user'}) do |f|
  div.form-inputs
    = f.input :login, required: false, autofocus: true
    = f.input :password, required: false
    = f.input :remember_me, as: :boolean if devise_mapping.rememberable?

  div.form-actions
    = f.button :submit, "Sign in", class: 'btn btn-success'
.btn.btn-primary.register_user     
  = link_to 'Register', new_user_registration_path