// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.login_alert {
  display: none;
}

div.register_user {
  margin-top: -130px;
  margin-left: 127px;
  a, a:hover {
    text-decoration: none;
    background-color: transparent;
    color: #fff;
  }
}

div.well.sidebar-nav {
  width: 263px;
}