// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
span.add_field:hover {
  text-decoration: underline;
  cursor: pointer;
}
