div.container
  h2 Upload file
  = form_for Upload.new, :html => { :multipart => true, :id => "fileupload"  } do |f|
    /! The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload
    div.row.fileupload-buttonbar
      div.span7
        /<!-- The fileinput-button span is used to style the file input field as button -->
        span.btn.btn-success.fileinput-button
          i.icon-plus.icon-white
          span Add files...
          = f.file_field :upload
        button.btn.btn-primary.start type="submit"
          i.icon-upload.icon-white
          span Start upload
        button.btn.btn-warning.cancel type="reset"
          i.icon-ban-circle.icon-white
          span Cancel upload
        button.btn.btn-danger.delete type="button"
          i.icon-trash.icon-white
          span Delete
        input.toggle type="checkbox"
      div.span5
        /<!-- The global progress bar -->
        div.progress.progress-success.progress-striped.active.fade
          div.bar style="width:0%;"
    /<!-- The loading indicator is shown during image processing -->
    div.fileupload-loading
    br
    /<!-- The table listing the files available for upload/download -->
    table.table.table-striped
      tbody.files data-toggle="modal-gallery" data-target="#modal-gallery"

= render 'script'