= simple_form_for @product, :html => { :class => "form-horizontal",  mutlipart: true } do |f|
  = f.input :title
  = f.input :description
  = f.input :price
  .file_upload_area
    = f.simple_fields_for :uploads do |ff|
      .file_upload
        = ff.input :upload, as: :upload
        = image_tag ''
  span.add_field Add field  
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), products_path, :class => 'btn'
