/ - model_class = Product
/ div class="page-header"
/   h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
/   = paginate @products
/ table class="table table-striped"
/   thead
/     tr
/       th= model_class.human_attribute_name(:id)
/       th= model_class.human_attribute_name(:uploads)
/       th= model_class.human_attribute_name(:title)
/       th= model_class.human_attribute_name(:description)
/       th= model_class.human_attribute_name(:price)
/       th= model_class.human_attribute_name(:created_at)
/       th=t '.actions', :default => t("helpers.actions")
/   tbody
/     - @products.each do |product|
/       tr
/         td= link_to product.id, product_path(product)
/         td= image_tag product.uploads.first.upload.url
/         td= product.title
/         td= product.description
/         td= product.price
/         td=l product.created_at
/         td
/           = link_to t('.edit', :default => t("helpers.links.edit")), edit_product_path(product), :class => 'btn btn-mini'
/           '
/           = link_to t('.destroy', :default => t("helpers.links.destroy")), product_path(product), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

/ = link_to t('.new', :default => t("helpers.links.new")), new_product_path, :class => 'btn btn-primary'

div ng-app="new_depot.app.products" ng-controller="ProductsCtrl"
  table.table ng-table="tableParams"
    colgroup
      col.col-lg-2
      col.col-lg-4
      col.col-lg-2
    tr ng-repeat="product in $data"
      td data-title="'Image'"
        img ng-src="{{product.uploads[0].upload}}"
      td data-title="'Title'" {{product.title}}
      td data-title="'Created at'" {{product.created_at}}
