- model_class = Product
div class="page-header"
  h1=t '.title', :default => model_class.model_name.human.titleize

p
  strong= model_class.human_attribute_name(:title) + ':'
  br
  = @product.title
p
  strong= model_class.human_attribute_name(:description) + ':'
  br
  = @product.description
p
  strong= model_class.human_attribute_name(:price) + ':'
  br
  = @product.price

- @product.uploads.each do |upload|
  p
    =image_tag upload.upload.url

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), products_path, :class => 'btn'
  '
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_product_path(@product), :class => 'btn'
  '
  = link_to t('.destroy', :default => t("helpers.links.destroy")), product_path(@product), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
